body { font-family: sans-serif }

#masterlayout {
	display: flex;
	flex-wrap: nowrap;
}
#masterlayout > * {
  border: 4px solid #ededf0;
	box-shadow: 0 0 0 2px #cdcdcd;
	border-radius: 5px;
	margin: 0 10px;
	height: 520px;
}


/* *** User list (Room) *** */


#userlist {
	list-style-type: none;
	padding: 0;
	width: 150px;
	font-size: 14px;
	margin: 0 10px auto 10px;
	height: auto;
}
.userentry:last-child {
	margin-bottom: 0;
}
.userentry {
	padding: 4px 0;
	margin-bottom: -2px;
	border: 2px solid #cdcdcd;
	transition: color 0.1s;
}
.userentry-me .username::before { content:"me: " }
.userentry-artist { background-color: #cce9b6; }


/* ** Canvas ** */


.colorbox:hover {
	transform: scale(1.5);
	z-index: 4;
}
.colorbox.selected {
	box-shadow: 0 0 5px 5px #f9f1a5;
	transform: scale(1.2);
	z-index:3;
}

.colorbox {
	width: 25px;
	height: 25px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	margin: 1px;
	transition: transform 0.2s;
}

#palette {
	display: flex;
	flex-wrap: wrap;
	width: 82%;
}
.empty.colorbox {
	background-image: url("/friendk/icons/stripbg.svg");
	background-size: 65%;
}
input[type=color].colorbox {
	padding: 11px 11px;
	width:1px;
	height:1px;
}

input[type=range] {
	-webkit-appearance: none;
	background: white;
	border-radius: 15px;
	height:30px;
	margin:auto;
	border: 2px solid #ededf0;
	box-shadow: 0 0 1px 1px #cdcdcd;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	cursor: crosshair;
	height:20px;
	width:20px;
	border-radius: 20px;
	background:#f0f0f0;
	border: 1px solid #999;
	position: relative;
	top: -8px;
}
input[type=range]::-moz-range-thumb {
	cursor: crosshair;
	height:20px;
	width:20px;
	border-radius: 20px;
	background:#f0f0f0;
	border: 1px solid #999;
}
input[type=range]::-moz-range-track { height:3px;	background: #999 }
input[type=range]::-webkit-slider-runnable-track { width:100%; height:3px;	background: #999 }

#toolbox {
	width: 590px;
	height: 79px;
	padding: 5px;
	display: flex;
	flex-wrap: nowrap;
}
#canvas {
	width: 600px;
	border-bottom: 3px solid #ededf0;
	border-top: 3px solid #ededf0;
	height: 400px;
}
#roomiddialog + #artcontainer #canvas {
	height: 355px;
	overflow: hidden;
}
.artist-empty #canvas{
	background-image: url('/friendk/icons/stripbg.svg');
	background-size: 128px;
}

.pregame #canvas{
	background-image: url('/friendk/icons/stripbg.svg');
	background-size: 128px;
}

.pregame #canvas::before {
	content: "The round hasn't started yet";
	color: #dedede;
	font-size: 4em;
	font-weight: bold;
	position: absolute;
	margin: 90px 110px;
	width: 400px;
	text-align: center;
	line-height: 100%;
}

.artist-empty #canvas::before {
	content: "It is your turn to draw";
	color: #dedede;
	font-size: 4em;
	font-weight: bold;
	position: absolute;
	margin: 90px 110px;
	width: 400px;
	text-align: center;
	line-height: 100%;
}
.spectator #toolbox { filter: opacity(50%) }
.spectator .colorbox:hover { transform: none }
.spectator .colorbox:focus { box-shadow: none }
.artist #toolbox { background-color: #cce9b6 }


/* *** Chat *** */


#chat {	font-size: 14px }
#chat-input {
	border-top: 3px solid #ededf0;
	padding: 5px 0;
}
#chat-input input {
	width: 250px;
	border:none;
}

#messages {
	height: 93%;
	overflow-y: scroll;
}
.message {
	padding: 5px 0 7px 0;
	line-height: 1;
	border-top: 1px solid #ededf0;
	word-break: break-all;
	width: 250px;
}

.join.message {	background:#cce9b6 }
.leave.message { background: #f9f1a5 }
.ghost.message { filter: opacity(30%) }


/* *** Guess bar *** */

#top-bar, .complete {
	height:25px;
	margin:0;
	text-align: center;
	color: #333;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: "Georgia sans", "noto sans", sans;
}

#guess-bar {
	display:flex;
	flex-wrap: nowrap;
	height: 25px;
}
#timer::before {
	background-image:url("/friendk/icons/timer.svg");
	filter: contrast(10%);
	display:block;
	background-size:contain;
	content:"";
	height:32px;
	width: 32px;
}
#timer {
	display:flex;
	align-items: center;
	padding: 0 30px 0 10px;
}
#guess-word {
	margin: auto;
	display:flex;
	font-weight: bolder;
}
.guess-letter, .guess-hidden {
	width: 20px;
	text-align: center;
	margin: 0;
}

/* *** Room dialog *** */


#roomiddialog {
	z-index: 2;
	background-color: #f9f1a5;
	display:flex;
	flex-wrap: wrap;
	align-items: center;
	height: 60px;
	padding: 5px 20px;
	width: 560px;
	font-size: 15px;
}

#roomiddialog h3 { margin:0 }
#roomiddialog p { margin:0; line-height: 1 }
#roomiddialog button {
	margin: auto;
	padding: 1px 10px;
}
#roomiddialog button:disabled {
	filter:opacity(70%);
}

#roomid-border {
	border: #ededf0 solid 1px;
	border-radius: 4px;
	background: white;
	margin: 5px;
	padding:0;
	width: 300px;
	height: 25px;
	display: inline-flex;
}
.roomid {
	color: black;
	background: transparent;
	transition: background 0.5s;
	border:none;
	margin: auto;
	font-size: 17px;
}
#hidden-roomid { background: black }
.roomid::selection { background: rgba(97, 175, 239, 0.99) }
#hidden-roomid::selection { color: #61afef }
#roomid-toggle input { display: none }
#roomid-toggle span {
margin:0;padding:0;
}
#roomid-toggle [type=checkbox] + span::before {
	cursor:pointer;
	content: " ";
	height: 25px;
	width: 25px;
	background-size: contain;
	display: inline-block;
	background-image: url("/friendk/icons/show.svg");
}
#roomid-toggle [type=checkbox]:checked + span::before {
	background-image: url("/friendk/icons/hide.svg");
}
