body { font-family: sans-serif; color: #282c34 }

#masterlayout {
	display: flex;
	flex-wrap: nowrap;
}
#masterlayout > * {
  border: 4px solid #ededf0;
	box-shadow: 0 0 0 2px #cdcdcd;
	border-radius: 5px;
	margin: 0 10px;
	height: 520px;
}




/* *** ------- User list (Room) ------- *** */




#userlist {
	list-style-type: none;
	padding: 0;
	width: 150px;
	font-size: 14px;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
	margin: 0 10px auto 10px;
	height: auto;
}
.user {
	padding: 4px;
	border: 2px solid #0002;
	border-bottom: 0;
	transition: color 0.1s;
	display:flex;
	justify-content: space-between;
	word-break:break-all;
}
.user:last-child { border-bottom: 2px solid #0002 }
.user.me :first-child { text-decoration: underline }
.user :first-child { max-width: 85%;}
.user.artist { background: #cce9b6 }
.user.leader::before { content: "♚" }
/*.user.guessed: cf .message.guessed*/




/* ** ------- Toolbox ------- ** */




.colorbox:hover {
	transform: scale(1.5);
	z-index: 4;
}
.selected.colorbox {
	box-shadow: 0 0 5px 5px #f9f1a5;
	transform: scale(1.2);
	z-index:3;
}

.colorbox {
	width: 25px;
	height: 25px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	margin: 1px;
	transition: transform 0.2s;
}

#palette {
	display: flex;
	flex-wrap: wrap;
	width: 82%;
}
.empty.colorbox {
	background-image: url("/icons/stripbg.svg");
	background-size: 100%;
}
input[type=color].colorbox {
	padding:10px;
	width:25px;
	height:25px;
	box-sizing:border-box;
}


/* ** ------- Size slider -------- ** */


input[type=range] {
	-webkit-appearance: none;
	background: white;
	border-radius: 15px;
	height:30px;
	margin:auto;
	border: 2px solid #ededf0;
	box-shadow: 0 0 1px 1px #cdcdcd;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	cursor: crosshair;
	height:20px;
	width:20px;
	border-radius: 20px;
	background:#f0f0f0;
	border: 1px solid #999;
	position: relative;
	top: -8px;
}
input[type=range]::-moz-range-thumb {
	cursor: crosshair;
	height:20px;
	width:20px;
	border-radius: 20px;
	background:#f0f0f0;
	border: 1px solid #999;
}
input[type=range]::-moz-range-track { height:3px; background: #999 }
input[type=range]::-webkit-slider-runnable-track { width:100%; height:3px; background: #999 }

#toolbox {
	width: 590px;
	height: 79px;
	padding: 5px;
	display: flex;
	flex-wrap: nowrap;
	border-top: 3px solid #ededf0;
	z-index:3;
}
#tally-box + #artcontainer #palette { filter: grayscale(75%) }

.spectator #toolbox { filter: opacity(50%) }
.spectator .colorbox:hover { transform: none }
.spectator .colorbox:focus { box-shadow: none }
.artist #toolbox { background-color: #cce9b6 }




/* ** ------- Canvas ------- ** */




#canvas {
	width: 600px;
	border-top: 3px solid #ededf0;
	height: 400px;
	overflow: hidden;
	z-index: 2;
}
#tally-box + #artcontainer #canvas { filter: blur(5px) grayscale(75%) }
#roomid-mod + #artcontainer #canvas { height: 355px }
.artist-empty #canvas, .pregame #canvas {
	background-image: url('/icons/stripbg.svg');
	background-size: 128px;
}

.pregame #canvas::before {content: "The round hasn't started yet"}
.artist-empty #canvas::before {content: "It is your turn to draw"}

.artist-empty #canvas::before, .pregame #canvas::before {
	color: #dedede;
	font-size: 4em;
	font-weight: bold;
	position: absolute;
	margin: 90px 110px;
	width: 400px;
	text-align: center;
	line-height: 100%;
}




/* *** ------- Chat ------- *** */




#chat {	font-size: 14px }
#chat-input {
	border-top: 3px solid #ededf0;
	padding: 5px 0;
}
#chat-input input {
	width: 250px;
	border:none;
}

#messages {
	height: 93%;
	overflow-y: scroll;
}
.message {
	padding: 5px 4px 7px 4px;
	line-height: 1;
	border-top: 1px solid #0001;
	word-break: break-all;
	width: 250px;
}

.join.message, .leave.message {	background:#b7eaf8; color:#282c34a0 }
.join.message::before {content: "→"; color:#282c34a0; margin:0 5px}
.leave.message::before {content: "←"; color:#282c34a0; margin:0 5px}
.over.message, .start.message { background: #cce9b6 }
.ghost.message { filter: opacity(30%) }
.guessed, .vote.message { background: #f9f1a5 }
.complete.message { font-weight: bold; text-align: center;font-size:17px}




/* *** ------- Guess bar ------- *** */




#top-bar, #guess-word .complete {
	height:25px;
	margin:0;
	text-align: center;
	color: #333;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: "Georgia sans", "noto sans", sans;
}

#guess-bar {
	display:flex;
	flex-wrap: nowrap;
	height: 25px;
}
#timer::before {
	background-image:url("/icons/timer.svg");
	display:block;
	background-size:contain;
	content:"";
	height:35px;
	width: 35px;
}
#timer {
	display:flex;
	align-items: center;
	width: 100px;
	padding: 0 20px 0 0;
	font-size: 23px;
	z-index:6;
}

#guess-word {
	margin: auto;
	display:flex;
	font-family:"Noto Sans";
	font-weight: bolder;
	font-size:19px;
}
.guess-letter {
	width: 20px;
	text-align: center;

}
.guess-hidden {
	width:12px;
	height:20px;
	margin: 0 4px;
	border-bottom:solid #282c34;
}




/* *** ------- Room leader dialog ------- *** */




#roomid-mod {
	z-index: 2;
	background-color: #f9f1a5;
	display:flex;
	flex-wrap: wrap;
	align-items: center;
	height: 60px;
	padding: 5px 20px;
	width: 560px;
	font-size: 15px;
}

#roomid-mod h3 { margin:0 }
#roomid-mod p { margin:0; line-height: 1 }
#roomid-mod button {
	margin: auto;
	padding: 1px 10px;
}
#roomid-mod button:disabled { filter:opacity(70%) }

#roomid-border {
	border: #ededf0 solid 1px;
	border-radius: 4px;
	background: white;
	margin: 5px;
	padding:0;
	width: 400px;
	height: 25px;
	display: inline-flex;
}
#roomid {
	color: black;
	background: transparent;
	transition: background 0.5s;
	border:none;
	margin: auto;
	font-size: 12px;
	width:280px;
}
#roomid::selection { background: rgba(97, 175, 239, 0.99) }
#roomid.hidden { background: black }
#roomid.hidden::selection { color: #61afef }

.toggle input { display: none }
.toggle span { margin:0;padding:0 }
.toggle [type=checkbox] + span::before {
	cursor:pointer;
	content: " ";
	height: 25px;
	width: 25px;
	background-size: contain;
	display: inline-block;
	background-image: url("/icons/show.svg");
}
.toggle [type=checkbox]:checked + span::before {
	background-image: url("/icons/hide.svg");
}




/*** *** ------- Room Score Tally ------- *** ***/




#tally-round-board {
	width: 600px;
	position: absolute;
	background: #0009;
	color: #f0f0f0;
	height:495px;
	border-top: 3px solid #ededf0;
	padding: 15px 50px;
	box-sizing: border-box;
	font-size: 23px;
	transition: background 0.5s linear;
	z-index:5;
}
.tally {
	display: flex;
	transition: all 1s linear;
  height: 35px;
  position: relative;
	line-height: .8;
}
.tally-name {
	width: 260px;
	margin-right:10px;
	word-break:break-all;
	display: block;
	text-align: right;
}
.tally-score {
	display:inline;
  margin: 0;
}
.tally-value {
	font-weight: bold;
	margin: 0 5px;
}
.tally-diff::before { content: "+"; color:#cce9b6 }
.tally-diff { color:#cce9b6 }




/*** *** ------- Final Score Tally ------- *** ***/




#finalscores {
	min-width: 600px;
	font-size:22px;
	box-sizing:border-box;
}
#finalscores h2 {text-align: center; margin:10px 0;}
#finalscores table {
	table-layout: fixed;
	margin:auto;
}
th, td {
	vertical-align: bottom;
	line-height: 1;
	padding-top:20px;
	text-align: left;
	max-width:200px;
	word-break: break-all;
}
th.name {text-align:right}
tr:first-child th.total {font-size:45px}
th.total {
	font-size: 30px;
	padding:0 0 0 10px;
}
td {text-align: left; width: 40px}
td.colon{width:5px;padding-right:10px}
td.artist {color: #619140}

/* Votes */

#vote-container {
	display:flex;
	justify-content: center;
	align-items: center;
}
#vote-button {
	text-align:right;
	background-color: #cce9b6;
	border: solid black 1px;
  width: 180px;
	margin:30px;
	font-size:16px;
	font-weight: bold;
	border-radius: 6px;
}
#vote-button:disabled {
	background-color: #f9f1a5;
	color:#282c34a0;
}
#vote-count {
	font-size:26px;
	margin-left:12px;
	position: relative;
	top: 3px;
}
#vote-timer {
	background-image: url("/icons/timer.svg");
	background-size:contain;
	text-align: center;
	height:50px;
	width:50px;
	font-size: 30px;
}
