
.colorbox:hover {
	transform: scale(1.5);
}

.colorbox:focus {
	box-shadow: 0 0 5px 5px white;
	z-index:3;
}

.colorbox {
	width: 2em;
	height: 2em;
	border-radius: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	margin: 1px;
	transition: transform 0.2s;
}

#palette {
	display: flex;
	flex-wrap: wrap;
	width: 80%;
}

input[type=color] {
	padding: 0;
}

.top-layout {
	border-style: solid;
	border-width: 3px;
}

#artcontainer {
	height : auto;
	width : auto;
	margin-left: 5px;
}

#toolbox {
	padding: 5px;
	max-width: 600px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: nowrap;
	height: auto;
}

#canvas {
	border-bottom: solid;
	width: 600px;
	height: 400px;
}

.artist-empty #canvas{
	background-image: url('/friendk/icons/stripbg.svg');
	background-size: 128px;
}


.pregame #canvas{
	background-image: url('/friendk/icons/stripbg.svg');
	background-size: 128px;
}


.pregame #canvas::before {
	content: "The round hasn't started yet";
	color: #dedede;
	font-size: 4em;
	font-weight: bold;
	position: absolute;
	margin: 120px 110px;
	width: 400px;
	text-align: center;
	line-height: 100%;
}

.artist-empty #canvas::before {
	content: "It is your turn to draw";
	color: #dedede;
	font-size: 4em;
	font-weight: bold;
	position: absolute;
	margin: 120px 110px;
	width: 400px;
	text-align: center;
	line-height: 100%;
}

.spectator #toolbox {
	filter: opacity(50%);
}

.artist #toolbox {
	background-color: #cce9b6;
}

#masterlayout {
	display: flex;
	flex-wrap: nowrap;
}

#userlist {
	height: auto;
	margin: 0;
	list-style-type: none;
	padding: 0;
}

#userlist .userentry {
	padding: 4px 10px;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: grey;
	transition: color 0.1s;
}
#userlist .userentry-me .username::before { content:"me:" }
#userlist .userentry-artist { background-color: #cce9b6; }


/* *** Room dialog *** */


#roomiddialog {
	position: absolute;
	left: 30%;
	top: 1em;
	z-index: 2;
	background-color: #000d;
	color: #abb2bf;
	box-shadow: 0 0 10px 10px #000d;
	width: 300px;
	height: auto;
}

#roomiddialog h3 { margin:0 }
#roomiddialog p { margin:0; line-height: 1}

#roomiddialog input[type=checkbox] { width: auto; }
#roomiddialog button { 
	margin: auto; 
	padding: 1px 40px;
}

#roomiddialog input {
	margin-right: 0;
	padding: 0;
	font-size:17px;
}
