html {
	background-color: white;
	color: #282c34;
    font-family: "Nimbus Sans", sans-serif;
    font-size: 16px;
}

body {
    max-width: 350px;
    margin: auto;
    margin-top: 20px;
}
input.invalid, .invalid input { box-shadow: 0 0 2px #be5046; border: solid #be5046 1px;}
.invalid::after {
    position: relative;
    font-size:12px;
    color:#be5046;
}
#name-field.invalid::after {
    content: attr(data-errmsg);
    position: absolute;
    line-height: 2.5;
}
input:focus {border-color:#b7eaf8}
input.invalid:focus, .invalid input:focus {border-color:#d19a66}
input:disabled {color:#767b87}

input {
    padding: 5px 0;
    border-radius: 3px;
    border: solid #ccc 1px;
}


button:hover, input[type="button"]:hover, input[type="submit"]:hover { background-color: #acc996; }
button:disabled { background-color: #e9b7b6; color: #767b87; }

a:link { text-decoration: none }
button, input[type="button"], input[type="submit"] {
    background-color: #cce9b6;
    color: black;
    padding: 5px;
    border-radius: 3px;
    border: 0;
    padding: 5px 10%;
}
#toggle *:hover {
    cursor:pointer;
    background: #dbdbe1;
}
#toggle * {
    border: 4px solid #ededf0;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 -2px 0 2px #ccc;
    width:100%;
    background: #ededf0;
}
#settings, .descr {transition: max-height 1s ease 0s; overflow:hidden}
#settings {
    border: 4px solid #ededf0;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 0 2px #ccc;
}
.descr p {
    line-height: 1.2;
    margin:10px 0;
}
.title {
    font-size:22px;
    margin: 20px 0 0 0;
    display:flex;
    align-items: center;
    height:35px
}
.seconds {font-size:10px}
.title label {margin-right: 10px}
.title input, .title p {display:inline}
.title input {
    font-size: 19px;
    max-width:100px;
}
.title select {font-size: 19px}
#estimate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    height:80px;
}
#estimate * {margin: 2px}
div button#create {margin: 20px}
#server-error {
    margin: 20px 0;
    padding: 5px;
    border: 4px solid #ededf0;
    border-radius: 10px;
    box-shadow: 0 0 0 2px #ccc;
    background: #f9f1a5;
}
#server-error::before {content: "⚠"}
#server-error * {
    margin: 0;
}