html {
	background-color: white;
	color: #282c34;
    font-family: "Nimbus Sans", sans-serif;
    font-size: 16px;
}

body {
    max-width: 520px;
    margin: auto;
    margin-top: 20px;
}

input.badinput:focus { box-shadow: 0 0 10px red; }
input.badinput, input.taken, input.invalid { box-shadow: 0 0 2px #f9f1a5; border: solid #f9f1a5 2px;}
form.taken::after, form.invalid::after {
    position: relative;
    top: -12px;
    margin-left:10px;
    font-size:12px;
    color:#be5046
}
form.invalid::after {content: "Invalid display name, more than 30 characters is too much."}
form.taken::after {content: "Display name already taken, use a different one."}
input.goodinput:focus { box-shadow: 0 0 10px green; }
input.goodinput { box-shadow: 0 0 5px green; }
input:focus { border-color:#b7eaf8; }
input:disabled { color: #767b87; }

input {
    padding: 5px 0;
	margin: 10px 5px;
    border-radius: 3px;
    border: solid #cdcdcd 1px;
}


button:hover, input[type="button"]:hover, input[type="submit"]:hover { background-color: #acc996; }
button:disabled { background-color: #e9b7b6; color: #767b87; }

a:link { text-decoration: none }
button, input[type="button"], input[type="submit"] {
    background-color: #cce9b6;
    color: black;
    padding: 5px;
    border-radius: 3px;
    border: 0;
    padding: 5px 10%;
}

div.info {
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    background-color: #b6cee9;
    width: 30em;
}

div.info.info-warning {
    background-image: url('/friendk/icons/stripbg.svg');
    background-size: 64px;
    background-color: #e9b7b8;
}
